/* Font (inter) */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{
  .animation-delay-2000{
    animation-delay: 2s;
  }
  .animation-delay-4000{
    animation-delay: 4s;
  }
  
}





body {
  /* background-color: #141414; */
  background-color: transparent;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-style: normal;
}

.description {
  @apply text-[#000];
}
.transition {
  @apply transition-all divide-neutral-400;
}
.transition300 {
  @apply transition-all duration-300;
}

/* Custom CSS to change placeholder text color */


/* Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #e8e8e8;
}

::-webkit-scrollbar-thumb {
  background: #e8e8e8;
}

::-webkit-scrollbar-thumb:hover {
  background: #e8e8e8;
}

/* stick booking reveal on scroll */
/* .sticky {
  position: sticky;
  top: 0;
  transition: transform 0.3s ease-in-out;
}

.-top-full {
  transform: translateY(-100%);
} */


/* button */
.primaryGradient {
  @apply !bg-gradient-to-r !text-white transform from-[#007f8b] to-[#007c87] transition-all duration-700 
}

.ant-drawer-body{
  all: unset !important;
}

.tranistion500{
  @apply transition-all duration-500
}




/* input  */

.custom-date-picker input::placeholder {
  color: #989898 !important; /* Change to your desired placeholder color */
  opacity: 1; /* Ensure the opacity is set for custom color */
}
